* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 20px;
    background: red;
    align-items: center;
}

h2 {
    margin: 0;
    text-align: center;
    color: white;
}

h3 {
    text-decoration: underline;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.bottom-strip {
    background-color: red;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}